<div class="modal fade noselect" id="modalCreateNewGame" tabindex="-1" role="dialog" aria-labelledby="modalCreateNewGameLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalCreateNewGameLabel">
          <h4 class="card-title">
            <i class="material-icons">
              fiber_new
            </i>
            Create new Game
          </h4>
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <form>
        <div class="modal-body">

          <div class="row">

            <div class="col-md">
              <div class="form-group bmd-form-group">
                <label class="bmd-label-static">Game Hoster</label>
                <input type="text" class="form-control" disabled name="mGameHoster" [(ngModel)]="mGameHoster">
              </div>
            </div>

            <div class="col-md">
              <div class="form-group bmd-form-group">
                <label class="bmd-label-floating">Password</label>
                <input type="text" class="form-control">
              </div>
            </div>

          </div>

          <small><i>Note: When you press 'Host Game' you will automatically redirect to the gameplay</i></small>

        </div>
        <div class="modal-footer">
          <button type="reset" class="btn btn-secondary text-lower" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary text-lower" (click)="hostGame()">Host Game</button>
        </div>
      </form>

    </div>
  </div>
</div>